Flow3.txt
[
    {
        "id": "cabd6308.80c88",
        "type": "inject",
        "z": "f21c310d.f2c29",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5c9b9e27.80d87",
                "99cec5cf.152f18"
            ]
        ]
    },
    {
        "id": "5c9b9e27.80d87",
        "type": "function",
        "z": "f21c310d.f2c29",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"SfsHQXMmZPeDJi0X\"\n};\n\nmsg.payload= \"Humidity,,75.5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "39869755.53eb38"
            ]
        ]
    },
    {
        "id": "39869755.53eb38",
        "type": "http request",
        "z": "f21c310d.f2c29",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mediatek.com/mcs/v2/devices/DTwtO3DF/datapoints.csv",
        "tls": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "cc30da1d.a14448",
                "1f9eee5f.5ef4d2"
            ]
        ]
    },
    {
        "id": "cc30da1d.a14448",
        "type": "http response",
        "z": "f21c310d.f2c29",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 662,
        "y": 142,
        "wires": []
    },
    {
        "id": "1f9eee5f.5ef4d2",
        "type": "debug",
        "z": "f21c310d.f2c29",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "99cec5cf.152f18",
        "type": "function",
        "z": "f21c310d.f2c29",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"SfsHQXMmZPeDJi0X\"\n};\n\nmsg.payload= \"Temperature,,18.3\";\nreturn 

msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "39869755.53eb38"
            ]
        ]
    }
]
