Temperature&Humidity.txt
[
    {
        "id": "9d88ed66.fad25",
        "type": "inject",
        "z": "6bc7424a.e8336c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 171,
        "y": 114,
        "wires": [
            [
                "2518be47.8c5c82"
            ]
        ]
    },
    {
        "id": "2518be47.8c5c82",
        "type": "function",
        "z": "6bc7424a.e8336c",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"SfsHQXMmZPeDJi0X\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "fbbe4a8c.e14a18",
                "8b5037b0.68c728"
            ]
        ]
    },
    {
        "id": "fbbe4a8c.e14a18",
        "type": "http request",
        "z": "6bc7424a.e8336c",
        "name": "Temperature",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DTwtO3DF/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "ed8afc6.46259",
                "f7150170.282b6"
            ]
        ]
    },
    {
        "id": "ed8afc6.46259",
        "type": "http response",
        "z": "6bc7424a.e8336c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "f7150170.282b6",
        "type": "debug",
        "z": "6bc7424a.e8336c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b5037b0.68c728",
        "type": "http request",
        "z": "6bc7424a.e8336c",
        "name": "Humidity",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DTwtO3DF/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "377d0971.6a69d6",
                "f55fd28a.b343f"
            ]
        ]
    },
    {
        "id": "377d0971.6a69d6",
        "type": "http response",
        "z": "6bc7424a.e8336c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 861,
        "y": 221,
        "wires": []
    },
    {
        "id": "f55fd28a.b343f",
        "type": "debug",
        "z": "6bc7424a.e8336c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 829,
        "y": 298,
        "wires": []
    }
]